*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 20vh;
    text-align: center;
    padding-top: 1rem;
}

section{
    width: 100vw;
    height: 60vh;
}

footer{
    width: 100vw;
    height: 20vh;
}

#searchbar{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}